body {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  position: absolute; /* Fija el header */
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo a img {
  height: 40px; /* Ajusta el tamaño del logo según sea necesario */
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 0;
  position: relative;
  text-decoration: none;
}

.nav-links a::after {
  background: #333;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 0.3s;
  width: 0;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-icon i {
  color: #333;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .nav-links {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}
