.main-content {
  margin-top: 50px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.table th,
.table td {
  vertical-align: middle;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-pago {
  margin-right: 3px;
}
