main-content {
  padding: 20px;
}

.contact-section {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.contact-form {
  flex: 1;
}

.contact-info {
  flex: 1;
  padding-left: 20px;
}

.contact-info h4 {
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 5px;
}

.contact-info ul {
  padding-left: 20px;
}

/* Estilos para el formulario */
.form-group {
  margin-bottom: 20px;
}

.input-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.submit-btn {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #45a049;
}

/* Estilos para las fotos decorativas */
.decorative-photos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.decorative-photos .photo {
  flex: 1;
}

.decorative-photos .photo img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
