.container-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px; /* Ajusta según la altura del header */
  padding-top: 80px; /* Ajusta según la altura del header */
}

.filters {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  width: 100%; /* Cambiar a ancho completo para pantallas pequeñas */
}

.product-area {
  padding: 10px;
  width: 100%; /* Cambiar a ancho completo para pantallas pequeñas */
}

.sort-options-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
  justify-content: space-between;
  margin-bottom: 20px;
}

.sort-options {
  align-items: center;
  display: flex;
  margin-bottom: 10px; /* Añadir margen inferior para separación */
}

.sort-options label {
  margin-right: 10px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper select {
  appearance: none;
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  padding-right: 25px; /* espacio para el icono */
}

.select-wrapper i {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar productos en pantallas pequeñas */
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  width: 300px; /* Adjust width according to your design */
}

.image-placeholder {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 150px;
  justify-content: center;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}

.image-placeholder img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.original-price {
  color: #6c757d;
  text-decoration: line-through;
}

.discounted-price {
  color: #212529;
  font-weight: bold;
}

/* Estilos para los mensajes de no datos */
.no-datos {
  color: #666;
  font-style: italic;
  padding: 20px;
  text-align: center;
}

.btn-presupuesto {
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

.btn-presupuesto:hover {
  background-color: #555;
  color: white;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .filters {
    border-bottom: none;
    border-right: 1px solid #ddd;
    width: 20%;
  }

  .product-area {
    width: 80%;
  }

  .sort-options-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
}
