.container {
  margin-top: 100px;
}

.carousel {
  width: 50%;
}

.carousel-item img {
  height: auto;
  width: 100%;
}

.btn-producto {
  background-color: #333;
  color: white;
}

.btn-producto:hover {
  background-color: #555;
  color: white;
}
/* Nueva Sección */
.nueva-seccion {
  background-color: #fff;
  padding: 2rem 0;
}

.nueva-seccion .contenido {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
}

.nueva-seccion .texto {
  flex: 1;
  margin-right: 2rem;
}

.nueva-seccion .texto h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.nueva-seccion .texto p {
  color: #666;
  margin-bottom: 2rem;
}

.nueva-seccion .texto button {
  align-self: flex-start;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  width: auto;
}

.nueva-seccion .texto button:hover {
  background-color: #555;
}

.nueva-seccion .imagen-placeholder {
  align-items: center;
  background-color: #eaeaea;
  border-radius: 8px;
  display: flex;
  flex: 1;
  height: 300px;
  justify-content: center;
}

.nueva-seccion .imagen-placeholder img {
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;
}

/* Diseños */
.disenos {
  background-color: #f8f9fa;
  padding: 2rem 0;
}

.disenos h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.disenos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.diseno {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  width: 300px; /* Adjust width according to your design */
}

.diseno .imagen-placeholder {
  align-items: center;
  background-color: #eaeaea;
  border-radius: 8px;
  display: flex;
  height: 200px; /* Adjust height according to your design */
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.diseno .imagen-placeholder img {
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;
}

.diseno h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.diseno p {
  color: #666;
  margin-bottom: 1.5rem;
}

/* Servicios */
.servicios {
  background-color: #f8f9fa;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.servicios h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.servicios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servicio {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  width: calc(33% - 2rem);
}

.icono {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.servicio h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.servicio p {
  color: #666;
}

/* Sobre Nosotros */
.sobre-nosotros {
  background-color: #f8f9fa;
  padding: 2rem 0;
}

.sobre-nosotros .contenido {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
}

.sobre-nosotros .texto {
  flex: 1;
  margin-right: 2rem;
}

.sobre-nosotros .texto h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sobre-nosotros .texto p {
  color: #666;
  margin-bottom: 1rem;
}

.sobre-nosotros .imagen-placeholder {
  align-items: center;
  background-color: #eaeaea;
  border-radius: 8px;
  display: flex;
  flex: 1;
  height: 300px;
  justify-content: center;
}

.sobre-nosotros .imagen-placeholder img {
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;
}

/* Productos */
.productos {
  background-color: #fff;
  padding: 2rem 0;
}

.productos h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.productos p {
  color: #666;
  margin-bottom: 2rem;
  text-align: center;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centering the items horizontally */
}

.producto {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  width: 300px; /* Fixed width for each product card */
}

.imagen-placeholder {
  align-items: center;
  background-color: #eaeaea;
  display: flex;
  height: 150px;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.imagen-placeholder img {
  max-height: 100%;
  max-width: 100%;
}

.producto h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.producto p {
  color: #666;
  margin-bottom: 1.5rem;
}

button {
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

button:hover {
  background-color: #555;
}

/* Ajustes específicos para el diseño deseado */
.producto {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px; /* Ajusta la altura según sea necesario */
  justify-content: space-between;
}

.producto p {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

button {
  align-self: stretch;
}

/* Ofertas */
.ofertas {
  background-color: #f9f9f9;
  padding: 4rem 2rem;
  text-align: center;
}

.ofertas h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.ofertas p {
  color: #666;
  margin-bottom: 2rem;
}

.oferta-precio-descuento {
  color: #e60023;
  font-size: 1.25rem;
  font-weight: bold;
}

.oferta-especial button {
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.2s;
  width: 100%;
}

.oferta-especial button:hover {
  background-color: #555;
}

/* Clientes */
.clientes {
  background-color: #f8f9fa;
  padding: 2rem 0;
}

.clientes h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.clientes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cliente {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 150px; /* Adjust height according to your design */
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  width: 150px; /* Adjust width according to your design */
}

.cliente .imagen-placeholder {
  align-items: center;
  background-color: #eaeaea;
  border-radius: 8px;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.cliente .imagen-placeholder img {
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;
}

/* Testimonios */
.testimonios {
  background-color: #f9f9f9;
  padding: 4rem 2rem;
  text-align: center;
}

.testimonios h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.testimonios p {
  color: #666;
  margin-bottom: 2rem;
}

.testimonios-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.testimonio {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 600px;
  padding: 2rem;
  text-align: left;
}

.testimonio p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.cliente-info {
  align-items: center;
  display: flex;
}

.cliente-foto {
  border-radius: 50%;
  height: 50px;
  margin-right: 1rem;
  width: 50px;
}

.cliente-detalles strong {
  display: block;
  font-size: 1rem;
}

.cliente-detalles span {
  color: #666;
  font-size: 0.875rem;
}

/* Ubicación */
.ubicacion {
  background-color: #f8f9fa;
  padding: 4rem 2rem;
  text-align: center;
}

.ubicacion h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.ubicacion p {
  color: #666;
  margin-bottom: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nueva-seccion .contenido,
  .sobre-nosotros .contenido {
    flex-direction: column;
    text-align: center;
  }

  .nueva-seccion .texto,
  .sobre-nosotros .texto {
    margin: 0;
    margin-bottom: 2rem;
  }

  .nueva-seccion .imagen-placeholder,
  .sobre-nosotros .imagen-placeholder {
    margin-bottom: 2rem;
  }

  .servicios-container,
  .disenos-container,
  .productos-container,
  .ofertas-especiales-container,
  .clientes-container {
    align-items: center;
    flex-direction: column;
  }

  .servicio,
  .diseno,
  .producto,
  .oferta-especial,
  .cliente {
    margin-bottom: 2rem;
    width: 80%;
  }

  .carousel {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .servicio,
  .diseno,
  .producto,
  .oferta-especial,
  .cliente {
    width: 100%;
  }
}
